.page-agendamentos{
    display: flex;
    flex-direction: column;
    height: 1150px;
    .fundo-agendamentos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 50px;
    }

    h2 {
        font-family: 'font3';
        color: #2F9C7C;
        margin: 15px 0px;
    }
    
    .pesquisa {
        border: solid 1px;
        border-radius: 15px;
        height: 35px;
        width: 300px;
        margin: 15px 5px;
    }
    
    .txt-pesquisa {
        float: left;
        background-color: transparent;
        padding-left: 5px;
        font-style: italic;
        font-size: 18px;
        border: none;
        height: 35px;
        width: 260px;
    }

    .fundo-elements {
        background-color: #CCFFE5;
        height: 100%;
    }

    .elements {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .elements-2 {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
    .img-elements {
        margin-left: 100px;
    }   
    .img-elements-2 {
        margin-left: 20px;
    }

    .date-time {
        margin: 10px;
    }

    h3 {
        font-family: 'font4';
        color: #2F9C7C;
        margin-left: 150px;
    }
    
    p {
        font-family: 'font6';
        color: #9F9F9F;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    
    .card-1 {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 430px;
        margin-top: 50px;
        height: 170px;
        border: 1px solid #2F9C7C;
        border-radius: 15px;
    }
    
    .card-2 {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 430px;
        height: 170px;
        margin-top: 50px;
        border: 1px solid #2F9C7C;
        border-radius: 15px;
    }
}