.page-home{ 
    display: flex;
    flex-direction: column;
    background-color: #E3F8EC;
    height: 2500px;
    
    .faixa-1{
        background-color: #8ED0AE;
        height: 110px;
        width: 100%;
        position: fixed;
    }
    
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px 60px;
    }

    .login {
        font-family: 'font3';
        color: #ffffff;
        font-size: 18px;
        padding-top: 25px;
        cursor: pointer;
    }
    
    .fundo {
        background-image: url('../../../public/images/WhatsApp\ Image\ 2022-04-17\ at\ 11.54\ 1.svg');
        background-attachment: fixed;
        background-size: 100%;
        background-position: 100% 100%;
        height: 700px;
    }
    
    .texto1 {
        font-family: 'font7';
        color: #FFFFFF;
        font-size: 40px;
        margin: 240px 100px;
    }
    
    .titulo {
        display: flex;
        justify-content: center;
        font-family: 'font9';
        font-size: 20px;
        color: #2F9C7C;
        margin-top: 50px;
    }
    
    .cards-page {
        display: flex;
        flex-direction: column;
    }
    
    .cards-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 50px 50px;
    }
    
    .cards-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .card-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2F9C7C;
        width: 180px;
        height: 240px;
        border-radius: 20px;
        padding: 42px 66px;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2F9C7C;
        width: 180px;
        height: 240px;
        border-radius: 20px;
        padding: 42px 66px;
        margin-left: 70px;
    }
    
    button {
        font-family: 'font9';
        background-color: #CCFFE5;
        color: #2F9C7C;
        border-radius: 8px;
        border: 1px solid #2F9C7C;
        padding: 5px 30px;
        margin-top: 30px;
        cursor: pointer;
    }
    
    .botao {
        width: 140px;
        padding: 13px 10px;
        margin-top: 35px;
    }
    
    .botao-2 {
        width: 150px;
        margin-top: 20px;
    }
    
    .botao-3 {
        width: 160px;
        padding: 12px 30px;
    }
    
    .card-one:hover,
    .card:hover {
        transform: scale(1.05);
        transition: all 0.3s;
    }
    
    button:hover {
        transform: scale(1.07);
        transition: all 0.3s;
    }
    
    .faixa-3 {
        display: flex;
        flex-direction: column;
        background-image: url('../../../public/images/WhatsApp\ Image\ 2022-04-19\ at\ 19.17.04\ \(1\).jpeg');
        background-size: 100%;
        height: 520px;
        margin-top: 60px;
    }
    
    .f3-titulo {
        display: flex;
        justify-content: end;
        font-family: 'font9';
        color: #2F9C7C;
        font-size: 30px;
        margin: 30px 0px;
        margin-right: 250px;
    }
    
    .f3-texto {
        display: flex;
        justify-content: end;
        font-size: 18px;
        font-family: 'font5';
        margin-right: 50px;
    }
    
    .faixa-4 {
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    
    .f4-titulo {
        font-family: 'font6';
        text-align: center;
        font-size: 30px;
        color: #2F9C7C;
        padding-top: 50px;
    }

    .f4-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
    }
    
    .f4-img {
        margin-left: 80px;
    }
    
    .f4-imgs {
        width: 150px;
    }
    
    .f4-img-1 {
        width: 109px;
    }
    
    .f4-images p {
        font-family: 'font1';
    }
    
    .f4-img:hover {
        transform: scale(1.03);
        transition: all 0.2s;
    }
    
    .f4-images p:hover {
        transform: scale(0.9);
        transition: all 0.2s;
    }
    
    .faixa-5 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #8ED0AE;
        height: 300px;
    }
    
    .f5-fundo {
        display: flex;
        text-align: center;
    }
    
    .f5-logo {
        width: 200px;
    }
    
    .f5-texto {
        font-size: 18px;
        margin-top: 80px;
        margin-right: 150px;
    }
    
    .f5-texto p {
        font-family: 'font6';
        color: #ffffff;
    }
    
    .f5-t {
        font-family: 'font4';
        font-size: 16px;
        color: #666666;
    }
    
    .f5-texto-2 {
        margin-top: 50px;
        font-family: 'font4';
        color: #666666;
        margin-left: 150px;
    }
    
    .f5-texto-2 p {
        font-family: 'font6';
        font-size: 18px;
        color: #ffffff;
        margin-top: 30px;
    }
    
    .f5-images {
        margin-top: 40px;
        cursor: pointer;
    }
    
    .f5-images p {
        color: #ffffff;
        font-size: 18px;
    }
    
    .f5-icon {
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .f5-images p {
        font-family: 'font6';
        margin-top: 30px;
    }
    
    .icon:hover,
    .f5-icon:hover {
        transform: scale(0.9);
        transition: all 0.3s;
    }

    @media(max-width: 500px) {
        .pages-container {
            height: 5000px;
        }
        .logo {
            margin: 10px 20px;
        }
        .fundo {
            background-position: 100% 500%;
            height: 300px;
        }
        .texto1 {
            font-size: 12px;
        }
        .titulo {
            font-size: 12px;
        }
        .cards-page {
            display: flex;
            flex-direction: column;
        }
        .cards-1 {
            display: flex;
            flex-direction: column;
            margin-left: 75px;
        }
        .cards-2 {
            display: flex;
            flex-direction: column;
            margin-left: 75px;
        }
        .card {
            margin-top: 50px;
        }
        .card-one {
            display: flex;
            justify-content: center;
            margin-left: 68px;
        }
        .faixa-3 {
            margin-top: 50px;
            height: 400px;
        }
        .f3-titulo {
            font-size: 18px
        }
        .f3-texto {
            font-size: 14px;
            margin: 10px 50px;
        }
        .f4-titulo {
            font-size: 18px;
        }
        .faixa-4 {
            height: 100%;
        }
        .f4-images {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .f4-img {
            margin-top: 30px;
        }
        .faixa-5 {
            display: flex;
            flex-direction: column;
            height: 700px;
        }
        .f5-fundo {
            display: flex;
            flex-direction: column;
        }
        .f5-texto {
            margin-left: 150px;
        }
        .f5-texto-2 {
            margin-left: 10px;
        }
    }
}